<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Datamosh Playground</title>
</head>

<body>
    <h1>
        P-Frame Duplication (Bloom Effect)
    </h1>
    <div>
        <p>Video File: </p>
        <p>Loop Start Time: </p>
        <p>Loop End Time: </p>
        <p>Number of Loops: </p>
    </div>

    <h1>
        I-Frame Deletion
    </h1>
    <div>
        <p>Video File (Include multiple to combine and mosh): </p>
    </div>
</body>

</html>