<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Datamosh Playground</title>
</head>

<body>
    <h1>
        I-Frame Deletion
    </h1>
    <div>
        <form method='POST' action='/idelete' enctype="multipart/form-data">
        <label for="vid_file">Video File: </label>
        <input type="file" name="vid_file">
        <br>
        <button type="submit">Download Datamosh!</button>
        </form>
    </div>

    <h1>
        P-Frame Duplication (Bloom Effect)
    </h1>
    <div>
        <form method='POST' action='/pdupe' enctype="multipart/form-data">
            <label for="vid_file">Video File: </label>
            <input type="file" name="vid_file">
            <br>
            <label for="loop_start_min">Loop Start Time (Min:Sec): </label>
            <input type="number" min=0 name="loop_start_min">
            <label for="loop_start_sec">:</label>
            <input type="number" min=0 max=59 name="loop_start_sec">
            <label for="loop_start_ms">.</label>
            <input type="number" min=0 max=99 name="loop_start_ms">
            <br>
            <label for="loop_end_min">Loop End Time (Min:Sec): </label>
            <input type="number" min=0 name="loop_end_min">
            <label for="loop_end_sec">:</label>
            <input type="number" min=0 max=59 name="loop_end_sec">
            <label for="loop_end_ms">.</label>
            <input type="number" min=0 max=99 name="loop_end_ms">
            <br>
            <label for="num_loops">Number of Loops: </label>
            <input type="number" name="num_loops">
            <br>
            <button type="submit">Download Datamosh!</button>
        </form>
    </div>
</body>

</html>